.TabMenu {
  .Split {
    width: 1150px;
    height: 710px;
    display: flex;
    margin: auto;
    color: #121212;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;

    .Split-half {
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: color 1s ease;
      border-radius: 36px;

      &:hover {
        cursor: pointer;
      }

      &.left {
        background: transparent;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .Tab-block {
          border-radius: 36px;
          background: #00ff29;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition: background 0.3s ease-out;
          padding: 36px 150px 15px 40px;

          &:hover,
          &.active {
            background: #fff;

            .Tab-title {
              // color: #00ff29;
              cursor: text;
            }
          }

          .Tab-title {
            color: #121212;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: -0.02em;
            display: block;
            transition: all 0.3s ease;
            border: none;
            padding: 0;
            background: transparent;
            resize: none;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;

            &:focus {
              outline-style: none;
              // border-bottom: 2px solid #00ff29;
            }
          }

          .container-link-preview {
            display: flex;
            align-items: center;
            height: 28px;

            .icon-link-preview {
              display: inline;
              height: 15px;
              width: 15px;
              background-size: cover;
              background-image: url('link-preview.svg');
            }

            .Tab-link-preview {
              margin-left: 6.5px;
              display: block;
              color: rgba(0, 0, 0, 0.3);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 16px;
              line-height: 28px;
              letter-spacing: -0.5px;
            }
          }

          .tab-controls {
            background: transparent;
            display: flex;
            justify-content: space-between;
            width: 106px;
            position: absolute;
            top: 22px;
            right: 25px;

            .icon {
              background: #e9e9e9;

              .delete-control {
                background-image: url('icon-delete-tab.svg') !important;
                opacity: 0.26;
              }

              .link-upload-control {
                background-image: url('icon-link-upload-tab.svg');
                opacity: 0.26;
              }

              // &:hover {
              //   & + label {
              //     opacity: 1 !important;
              //   }
              // }

              &.img-upload-control {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;

                & + label {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  background-image: url('icon-img-upload-tab-grey.svg');
                  // opacity: 0.26;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      &.right {
        margin-left: 1.5px;
        background: transparent;
        transition: background 0.5s ease;
        background-size: cover;

        iframe,
        #tab-img-preview {
          width: 100%;
          height: 100%;
          border-radius: 36px;
        }

        .tab-placeholder {
          width: 100%;
          height: 100%;
          background-image: url('placeholder-tab.png');
          background-size: cover;
        }
      }
    }
  }
}
