.VideoMask {
  & > div {
    background: #00ff29;
  }

  .maskDiamond {
    iframe {
      -webkit-mask-box-image: image-url('maskDiamond.svg');
    }
  }

  .maskEllipse {
    iframe {
      -webkit-mask-box-image: image-url('maskEllipse.svg');
    }
  }

  .maskStar {
    iframe {
      -webkit-mask-box-image: image-url('maskStar.svg');
    }
  }

  .maskStar2 {
    iframe {
      -webkit-mask-box-image: image-url('maskStar2.svg');
    }
  }

  .maskPolygon {
    iframe {
      -webkit-mask-box-image: image-url('maskPolygon.svg');
    }
  }

  .maskHeart {
    iframe {
      -webkit-mask-box-image: image-url('maskHeart.svg');
    }
  }

  .ButtonSet {
    position: absolute;
    width: 144px;
    height: 204px;
    right: 25px;
    top: 22px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;

    .content {
      padding: 20px 30px;

      h3 {
        width: 84px;
        font-weight: 500;
        margin-bottom: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
      }

      .buttons {
        width: 84px;
        height: 136px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .Button {
          width: 36px;
          height: 36px;
          opacity: 0.25;
          transition: opacity 0.3s ease;
          background-size: cover;

          &:nth-child(odd) {
            margin-right: 12px;
          }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }

          &.on {
            opacity: 1;
          }

          &.maskDiamond {
            background-image: url('maskDiamondPreview.svg');
          }

          &.maskEllipse {
            background-image: url('maskEllipsePreview.svg');
          }

          &.maskStar {
            background-image: url('maskStarPreview.svg');
          }

          &.maskStar2 {
            background-image: url('maskStar2Preview.svg');
          }

          &.maskPolygon {
            background-image: url('maskPolygonPreview.svg');
          }

          &.maskHeart {
            background-image: url('maskHeartPreview.svg');
          }
        }
      }
    }
  }
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .img-placeholder {
    background-image: url('placeholder-video.svg');
    background-size: cover;
    margin-bottom: 22px;
    width: 92px;
    height: 92px;
  }

  .link-upload-control {
    background: #e9e9e9;
    height: 30px;
    width: 106px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.38);
    line-height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: rgba(0, 0, 0, 0.64);

      span {
        fill: rgba(0, 0, 0, 0.64);
      }
    }

    span {
      background-image: url('link-preview.svg');
      background-size: cover;
      margin-left: 5px;
      width: 15px;
      height: 15px;
      display: inline-block;
    }
  }
}
